{% extends 'base.html'%}
{% load static %}

{% block content%}
<!-- About Me Start -->
<section class="categories-area section-padding3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Section Tittle -->
                <div class="section-tittle mb-70">
                    <h2>Meet The Team</h2>
                    <p>We are friends alongside teammates and currently in our third year of studying Bachelor of
                        Science in Computer Science and Engineering at Bangabandhu Sheikh
                        Mujibur Rahman Science and Technology University (BSMRSTU) together.</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <img src="{% static 'img/about/girish.jpg' %}" style="border-radius:50%;" alt="Girish's Picture"
                            srcset="" class="img-fluid">
                    </div>
                    <div class="cat-cap mt-5">
                        <h5><a href="services.html">Girish Mondal</a></h5>
                        <h5 class="mt-5">Professional Skills</h5>
                        <ul class="cat-cap single-cat">
                            <li>Backend Languages : C , C++ , Python</li>
                            <li>Backend Frameworks : Django , Django-Rest-API , Wordpress</li>
                            <li>Frontend Languages : HTML5 , CSS3 , SCSS , JavaScript </li>
                            <li>Frontend Frameworks : Bootstrap , ReactJs(Learning)</li>
                            <li>Database : Postgres , MySQL, SQLite</li>

                        </ul>
                        <h5 class="mt-5">Personal Skills</h5>
                        <ul class="cat-cap single-cat">
                            <li>Interpersonal Skills : Communication( Bilingual Bangla and English ) , Team Working
                                and Problem Solving</li>
                            <li>Leadership Skills : Planning and Strategic Thinking , Team Management </li>

                        </ul>
                        <p>Along with those skills I also have ​Presentation​ skills, Proper ​Documentation​,
                            ​Client Handling  skill.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img src="{% static 'img/about/sifat.jpg' %}" style="border-radius:50%;" alt="sifat's Picture"
                            srcset="" class="img-fluid">
                    </div>
                    <div class="cat-cap mt-5">
                        <h5><a href="services.html">Sifat Ahamed</a></h5>
                        <h5 class="mt-5">Professional Skills</h5>
                        <ul class="cat-cap single-cat">
                            <li>Backend Languages : C , C++ , Python , Php</li>
                            <li>Backend Frameworks : Django , Django-Rest-API , laravel</li>
                            <li>Frontend Languages : HTML5 , CSS3 , SCSS , JavaScript </li>
                            <li>Frontend Frameworks : Bootstrap , ReactJs(Learning)</li>
                            <li>Database : Postgres , MySQL, SQLite</li>

                        </ul>
                        <h5 class="mt-5">Personal Skills</h5>
                        <ul class="cat-cap single-cat">
                            <li>Interpersonal Skills : Communication( Bilingual Bangla and English ) , Team Working and
                                Problem Solving</li>
                            <li>Leadership Skills : Planning and Strategic Thinking , Team Management </li>

                        </ul>
                        <p>Along with those skills I also have ​Presentation​ skills, Proper ​Documentation​, ​Client
                            Handling  skill.</p>
                    </div>
                </div>

            </div>

        </div>
</section>
<section class="categories-area section-padding3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Section Tittle -->
                <div class="section-tittle mb-70">
                    <h2>Technology We Use to Develop</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 card mb-5">
                <div class=" text-center">
                    <div class="cat-cap">
                        <ul class="mt-5 mb-5">
                            <li>Backend Language : Python</li>
                            <li>Backend Frameworks : Django , Django-Rest-API</li>
                            <li>Frontend Languages : HTML5 , CSS3 , SCSS , JavaScript </li>
                            <li>Frontend Frameworks : Bootstrap , ReactJs(Learning)</li>
                            <li>Database : Postgres , MySQL, SQLite</li>
                            <li>Version Control : git</li>
                            <li>Additional : Docker</li>

                        </ul>
                    </div>
                </div>

            </div>


        </div>
</section>


<!-- Contact Info Start -->

<!-- Contact Info End -->

</main>



</body>

</html>

{% endblock %}